@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using HoangNV.HotelBooking.BusinessLogic.Enum;
@inject IViewLocalizer Localizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<HoangNV.HotelBooking.Web.Localization.SharedResource> _sharedLocalizer
@model HoangNV.HotelBooking.BusinessLogic.Models.UserViewModel
@addTagHelper "*, HoangNV.HotelBooking.Web"

@{ ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container" style="display: block;height: 54em;">
    <div class="row">
        <div class="col-md-6">
            <div id="myCarousel-2" class="main_form_2 carousel slide testimonial_Carousel " data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item  active">
                        <div class="container">
                            <div class="carousel-caption">
                                <img src="~/img/image_662.jpg" alt="#" />
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item  ">
                        <div class="container">
                            <div class="carousel-caption">
                                <img src="~/img/image_668.jpg" alt="#" />
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container">
                            <div class="carousel-caption">
                                <img src="~/img/deluna_n.jpg" alt="#" />
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item  ">
                        <div class="container">
                            <div class="carousel-caption">
                                <img src="~/img/image_751.jpg" alt="#" />
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container">
                            <div class="carousel-caption">
                                <img src="~/img/image_690.jpg" alt="#" />
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#myCarousel-2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel-2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form id="ActionRegister" action="/Account/Login" method="post" class="main_form_3">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <h1 style="text-align: center; color: aliceblue;">Đăng nhập</h1>
                    </div>
                    <div class="col-md-12 input-botoom">
                        <input class="contactus" placeholder="Tên đăng nhập" type="text" asp-for="Username" maxlength="50">
                        @Html.ValidationMessageFor(x => x.Username, "", new { @class = "" })
                        <span class="hs-text-red hs-error hs-error-text" id="txt-UserName-error"></span>
                    </div>
                    <div class="col-md-12  input-botoom">
                    </div>
                    <div class="col-md-12  input-botoom">
                        <input class="contactus" placeholder="Mật khẩu" type="password" asp-for="Password" maxlength="50">
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "" })
                        <span class="hs-text-red hs-error hs-error-text" id="txt-PassWord-error"></span>
                    </div>
                    <div class="col-md-12  input-botoom">
                    </div>
                    <div class="col-sm-12  input-botoom">
                        <button class="send_btn" id="btn_submit">Đăng nhập</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<resources names='new[] { "Localization.SharedResource"}'></resources>
@section Scripts{
    <script>var myCarousel_2 = document.querySelector('#myCarousel-2')
        var carousel = new bootstrap.Carousel(myCarousel_2, {
            interval: 1000,
            wrap: false
        })</script>
}