<div class="container" style="border: 1px solid;padding: 27px;background-color: #d6f8ff;">
    <div class="row" style="padding-top: 2rem;">
        <div class="col-md-12">
            <div class="titlepage">
                <h2>Quy tắc chung</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <p class="policy_name" style="margin-top: -0.9rem;display: flex;">
                <span class="policy_name_icon">
                    <svg class="bk-icon -experiments-calendar_checkin hp-policies-calendar-icon" height="30" width="30" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="m112 16h-16v-8h-8v8h-48v-8h-8v8h-16c-4.4 0-8 3.9-8 8.7v86.6c0 4.8 3.6 8.7 8 8.7h96c4.4 0 8-3.9 8-8.7v-86.6c0-4.8-3.6-8.7-8-8.7zm0 95.3a1.1 1.1 0 0 1 -.2.7h-95.6a1.1 1.1 0 0 1 -.2-.7v-71.3h96zm-80-27.3h12v12h-12zm38-16h-12v-12h12zm0 28h-12v-12h12zm26 0h-12v-12h12zm0-28h-12v-12h12zm-48-16h-20v20h20zm-6 14h-8v-8h8z"></path></svg>
                </span>
                <span style="font-size: 20px;vertical-align: bottom;margin-top: 5px;margin-left: 8px;">
                    Nhận phòng
                </span>
            </p>
        </div>
        <div class="col-6">
            <p>
                <span data-component="prc/timebar" class="u-display-block" data-from="14:00" data-from-label="14:00" data-until="00:00" data-until-label="00:00" data-caption="14:00 - 00:00">
                    <span class="timebar   ">
                        <span class="timebar__core">
                            <span class="timebar__base">
                                <span class="timebar__bar" style="left:58.333333333333336%; width:42%"></span>
                            </span>

                            <span class="timebar__label" style="left: 58.3333%; margin-left: -14px;">14:00</span>


                            <span class="timebar__label" style="left: 100%; margin-left:-14px;">00:00</span>

                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>

    <div class="row" style="margin-top: 3rem;">
        <div class="col-2"></div>
        <div class="col-4">
            <p class="policy_name" style="margin-top: -0.9rem;display: flex;">
                <span class="policy_name_icon">
                    <svg class="bk-icon -experiments-calendar_checkin hp-policies-calendar-icon" height="30" width="30" viewBox="0 0 128 128" role="presentation" aria-hidden="true" focusable="false"><path d="m112 16h-16v-8h-8v8h-48v-8h-8v8h-16c-4.4 0-8 3.9-8 8.7v86.6c0 4.8 3.6 8.7 8 8.7h96c4.4 0 8-3.9 8-8.7v-86.6c0-4.8-3.6-8.7-8-8.7zm0 95.3a1.1 1.1 0 0 1 -.2.7h-95.6a1.1 1.1 0 0 1 -.2-.7v-71.3h96zm-80-27.3h12v12h-12zm38-16h-12v-12h12zm0 28h-12v-12h12zm26 0h-12v-12h12zm0-28h-12v-12h12zm-48-16h-20v20h20zm-6 14h-8v-8h8z"></path></svg>
                </span>
                <span style="font-size: 20px;vertical-align: bottom;margin-top: 5px;margin-left: 8px;">
                    Trả phòng
                </span>
            </p>
        </div>
        <div class="col-6">
            <p>
                <span data-component="prc/timebar" class="u-display-block" data-until="12:00" data-until-label="12:00" data-caption="Đến 12:00">
                    <span class="timebar   ">
                        <span class="timebar__core">
                            <span class="timebar__base">
                                <span class="timebar__bar" style="left:0%; width:50%"></span>
                            </span>
                            <span class="timebar__label" style="left: 50%; margin-left: -14px;">12:00</span>

                        </span>
                    </span>
                </span>
            </p>
        </div>
    </div>

    <div class="row" style="margin-top: 3rem;">
        <div class="col-2"></div>
        <div class="col-4">
            <p class="policy_name" style="display: flex;">
                <span class="policy_name_icon" style="font-size: 25px;">
                    <i class="bi bi-info-circle-fill"></i>
                </span>
                <span style="font-size: 20px;vertical-align: bottom;margin-top: -9px;margin-left: 8px;">
                    Hủy đặt phòng/<br>
                    Trả trước
                </span>
            </p>
        </div>
        <div class="col-6">
            KHÔNG CẦN THANH TOÁN TRƯỚC - thanh toán tại chỗ nghỉ
        </div>
    </div>
    <div class="row" style="margin-top: 3rem;">
        <div class="col-2"></div>
        <div class="col-4">
            <p class="policy_name" style="display: flex;">
                <span class="policy_name_icon" style="font-size: 25px;">
                    <i class="bi bi-people-fill"></i>
                </span>
                <span style="font-size: 20px;vertical-align: bottom;margin-top: 1px;margin-left: 8px;">
                    Chính sách trẻ và giường
                </span>
            </p>
        </div>
        <div class="col-6">
            <div class="c-child-policies__general bui-spacer--large">
                <p style="font-weight: normal;">Phù hợp cho tất cả trẻ em.</p>
                <div class="c-child-policies__supplements">
                    <p style="font-weight: normal;">Phí phụ thu sẽ không được tự động tính thêm vào tổng chi phí phòng và cần được thanh toán riêng trong thời gian nghỉ của bạn.</p>
                    <p style="font-weight: normal;">Chỗ nghỉ không có chỗ cho nôi (cũi).</p>
                    <p style="font-weight: normal;">Số giường phụ tối đa cho phép phụ thuộc vào phòng bạn chọn. Vui lòng kiểm tra số khách tối đa đối với phòng bạn đã chọn.</p>
                    <p style="font-weight: normal;">Tất cả cũi (nôi) và giường phụ còn tùy thuộc vào tình trạng có sẵn.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 3rem;">
        <div class="col-2"></div>
        <div class="col-4">
            <p class="policy_name" style="display: flex;">
                <span class="policy_name_icon" style="font-size: 25px;">
                    <i class="bi bi-person-check-fill"></i>
                </span>
                <span style="font-size: 20px;vertical-align: bottom;margin-top: 1px;margin-left: 8px;">
                    Giới hạn độ tuổi
                </span>
            </p>
        </div>
        <div class="col-6">
            <div class="c-child-policies__general bui-spacer--large">
                <p style="font-weight: normal;">Từ 16 tuổi trở lên (Có căn cước công dân hoặc visa/Trẻ dưới 16 tuổi phải có người lớn đi cùng).</p>
            </div>
        </div>
    </div>
</div>